@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.full-screen {
    width: 100vw;   /* Viewport width */
    height: 100vh;  /* Viewport height */
    flex-direction: column;
  }